@import "../../styles/colors";

.modalBackdrop {
  position: fixed;
  inset: 0;
  background-color: #000;
  backdrop-filter: blur(6px);
  display: grid;
  place-items: center;
  z-index: 9999;
  padding: 2rem;
  border: 0 solid #a6a69a;
  animation: fadeIn 0.6s ease-out forwards,
    borderExpand 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  animation-delay: 0s, 0.6s;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
        rgb(190 245 215 / 32%) 1px,
        transparent 1px
      ),
      linear-gradient(269deg, rgb(48 255 223 / 32%) 1px, transparent 1px);
    background-size: 30px 30px;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    animation: gridFadeIn 2.5s ease-out forwards;
    animation-delay: 0.3s;
  }
}

.modalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 600px;
}

.clarksonBotGif {
  position: relative;
  z-index: 3;
  width: 90px;
  height: 90px;
  margin-bottom: -3px;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
  object-fit: contain;
  align-self: flex-start;
  opacity: 0;
  animation: fadeIn 0.6s ease-out forwards;
  animation-delay: 0.2s;
  filter: sepia(1);
}

.modalContent {
  position: relative;
  z-index: 2;
  background-color: #f3fbfb;
  border-radius: 20px;
  padding: 3rem 2.5rem;
  //   max-width: 500px;
  width: 100%;
  box-shadow: none;
  transform-origin: center center;
  animation: scaleIn 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards,
    shadowGlow 0.6s ease-out forwards;
  animation-delay: 0s, 0.6s;
  transition: all 0.2s ease;

  &:hover {
    border-radius: 0;
  }
}

.closeButton {
  background-color: white;
  border: 3px solid black;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  font-weight: 600;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  transition: all 0.2s ease;

  &:hover {
    background-color: #03ff89;
    border-radius: 0;
  }
}

.modalTitleTop {
  background-color: blue;
  font-weight: 700;
  padding: 5px;
  transform: rotate(-13deg);
  font-size: 27px;
  top: 5px;
  position: relative;
  left: -115px;
  color: #efaeff;
}

.modalTitleSub {
  @extend .modalTitle;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;

  ul {
    margin: 20px 0;
    font-family: monospace;
    list-style: circle;
    font-weight: 800;
    text-align: left;

    li {
      padding: 5px 0;
    }
  }
}

.modalTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #1a1a1a;
}

.modalDescription {
  font-size: 1rem;
  color: #555;
  margin: 0;
  line-height: 1.6;
  max-width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes gridFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shadowGlow {
  from {
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3), 0 0 0px #8dc585;
  }
  to {
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3), 11px 15px 21px #8dc585;
  }
}

@keyframes borderExpand {
  from {
    border-width: 0;
    border-color: #53ff99;
  }
  85% {
    border-width: 35px;
    border-color: #53ff99;
  }
  to {
    border-width: 35px;
    border-color: #9bff53;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    backdrop-filter: blur(6px);
  }
  to {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.fadeOut {
  animation: fadeOut 0.6s ease-in forwards !important;
}

.scaleOut {
  animation: scaleOut 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) reverse forwards,
    fadeOut 0.6s ease-in forwards !important;
}
