.wrapper {
  position: relative;
  width: 80%;
  margin: 40px auto;

  &:hover {
    .circle {
      background-color: #38ff1b;
      border: 3px solid black;
    }
  }
}

.header {
  font-size: 3vw;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
}

.slogan {
  padding: 20px 0 40px 0;
  text-align: center;
  font-family: monospace;
  font-weight: 600;
  font-size: 25px;
  color: black;
}

.headerExclamation {
  position: absolute;
  right: 50px;
  transform: rotate(30deg);
  top: 120px;
  font-size: 16px;
  background-color: blue;
  font-family: monospace;
  font-weight: 600;
  padding: 5px;
  color: white;
}

.version {
  position: absolute;
  left: 0;
  height: 20px;
  background-color: black;
  font-family: monospace;
  display: flex;
  padding: 5px 15px;
  align-items: center;
  color: white;
  font-weight: 600;
}

.insideContainer {
  background-color: #cdff2c;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  min-height: 300px;
  box-shadow: 13px -12px 21px -9px #38ff1b;
  z-index: 1;
  transition: all 0.5s ease-in-out;

  &:hover {
    box-shadow: -12px 12px 11px -7px #0c0c0c;
  }
}

.image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  transition: filter 0.3s ease-in-out;
}

.wrapper:hover .image {
  filter: hue-rotate(30deg);
}

.button {
  justify-self: flex-end;
  margin-top: Auto;
}

.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  z-index: 3;
  transition: all 0.24s ease-in-out;
  border: 3px solid transparent;
}

.circleTopLeft {
  @extend .circle;
  top: -15px;
  left: -15px;
}

.circleTopRight {
  @extend .circle;
  top: -15px;
  right: -15px;
}

.circleBottomLeft {
  @extend .circle;
  bottom: -15px;
  left: -15px;
}

.circleBottomRight {
  @extend .circle;
  bottom: -15px;
  right: -15px;
}

.container::before {
  box-shadow: 0 calc(100% + 280px) 0 black,
    calc(100% + 40px) calc(100% + 280px) 0 black;
}

@keyframes peekDown {
  0%,
  100% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes peekUp {
  0%,
  100% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(0);
  }
}

.topPeekLabel {
  position: absolute;
  top: 0;
  left: 20%;
  font-weight: bold;
  font-size: 18px;
  font-family: monospace;
  letter-spacing: 2px;
  animation: peekDown 2s ease-in-out infinite;
  z-index: 0;
  pointer-events: none;
}

.bottomPeekLabel {
  position: absolute;
  bottom: 0;
  right: 20%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 18px;
  font-family: monospace;
  letter-spacing: 2px;
  animation: peekUp 2s ease-in-out infinite;
  z-index: 0;
  pointer-events: none;
}

.bottomLabel {
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-weight: bold;
  font-size: 14px;
  font-family: monospace;
  letter-spacing: 1px;
}
