.container {
  background-color: #cdff2c;
  position: relative;
  padding: 40px;
  min-height: 300px;
  width: 80%;
  margin: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
  }

  &::before {
    top: -20px;
    left: -20px;
  }

  &::after {
    top: -20px;
    right: -20px;
  }
}

.container::before {
  box-shadow: 0 calc(100% + 280px) 0 black,
    calc(100% + 40px) calc(100% + 280px) 0 black;
}

.topLabel {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 18px;
  font-family: monospace;
  letter-spacing: 2px;
}

.bottomLabel {
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-weight: bold;
  font-size: 14px;
  font-family: monospace;
  letter-spacing: 1px;
}
