.wrapper {
  position: relative;
  width: 80%;
  margin: auto;

  &:hover {
    .circle {
      background-color: #5400ff;
    }
  }
}

.insideContainer {
  background-color: #cdff2c;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  min-height: 300px;
  z-index: 1;
}

.button {
  justify-self: flex-end;
  margin-top: Auto;
}

.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  z-index: 3;
  transition: all 0.24s ease-in-out;
}

.circleTopLeft {
  @extend .circle;
  top: -15px;
  left: -15px;
}

.circleTopRight {
  @extend .circle;
  top: -15px;
  right: -15px;
}

.circleBottomLeft {
  @extend .circle;
  bottom: -15px;
  left: -15px;
}

.circleBottomRight {
  @extend .circle;
  bottom: -15px;
  right: -15px;
}

.container::before {
  box-shadow: 0 calc(100% + 280px) 0 black,
    calc(100% + 40px) calc(100% + 280px) 0 black;
}

@keyframes peekDown {
  0%,
  100% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes peekUp {
  0%,
  100% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(0);
  }
}

.topPeekLabel {
  position: absolute;
  top: 0;
  left: 20%;
  font-weight: bold;
  font-size: 18px;
  font-family: monospace;
  letter-spacing: 2px;
  animation: peekDown 2s ease-in-out infinite;
  z-index: 0;
  pointer-events: none;
}

.bottomPeekLabel {
  position: absolute;
  bottom: 0;
  right: 20%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 18px;
  font-family: monospace;
  letter-spacing: 2px;
  animation: peekUp 2s ease-in-out infinite;
  z-index: 0;
  pointer-events: none;
}

.bottomLabel {
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-weight: bold;
  font-size: 14px;
  font-family: monospace;
  letter-spacing: 1px;
}
