.adsContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  margin: 20px;
}

.promotedLabel {
  font-family: monospace;
  font-size: 14px;
  padding: 10px 0;
  text-align: left;
  font-weight: bold;
}

.container {
  width: 100%;
  background-color: #95ffe9;
  box-shadow: 2px 2px 12px #5700ff;
  border: 3px solid black;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: filter 0.3s ease;

  button {
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }

  &:hover button {
    font-size: calc(20px * 1.4);
    background-color: #cdff2c;
  }

  &:hover .productCard .productImage {
    filter: hue-rotate(77deg);
    transform: scale(1.2);
  }
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.productIcon {
  width: 100%;
  display: flex;
}

.productImage {
  width: 80%;
  margin: auto;
  height: auto;
  object-fit: contain;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.productTitle {
  font-family: monospace;
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
  font-weight: 800;
}

.soldOut {
  background-color: white !important;
  color: black !important;
  border: 3px solid black !important;
  cursor: default !important;

  &:hover {
    background-color: white !important;
    transform: none !important;
  }

  .buttonGhost {
    background-color: transparent !important;
  }
}
