// Color Variables

// Background Colors
$bg-dark: #1d1b1e;

// Text Colors
$text-white: #fff;

// Link Colors
$link-primary: #646cff;
$link-hover: #535bf2;

// Primary Colors
$color-magenta: #FF00FF;
$color-blue: #0000FF;
$color-yellow: #FFFF00;
$color-red: #FF0000;
$color-cyan: #00FF7F;
