.container {
  width: 100%;
  display: flex;
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: #f6fffb;
  max-width: 1600px;
  margin: Auto;
  height: calc(100vh - 210px);
  overflow-y: scroll;
}

.toolBar {
  border: 1px solid red;
  width: 100%;
}

.mainContainer {
  border: 1px solid blue;
}
