.headerContainer {
  background-color: #1d1b1e;
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
}

.headerContent {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  color: white;
  font-family: "Gabarito", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  gap: 0.6rem;
}

.leftText,
.rightText {
  font-size: 15px;
  font-weight: 700;
  white-space: nowrap;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.centerText {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-shrink: 0;
  position: relative;
}

.theText {
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  top: -10px;
  left: -30px;
  transform: rotate(-25deg);
}

.clarksonbotText {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
