.avatarContainer {
  width: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  max-height: 200px;
  flex-shrink: 0;
}

.avatarCircle {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 25px;
}
