.avatarContainer {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.avatarCircle {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
